<app-alert></app-alert>
<div class="flex justify-center items-center min-h-screen bg-gray-100 py-6">
	<div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg overflow-auto">
		<h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Form Login</h2>

		<form (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="formLoginData.username" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Masukkan username anda" required />
            </div>

			<div class="mb-6 relative">
				<label for="password" class="block text-sm font-medium text-gray-700">Password</label>
				<input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="formLoginData.password" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 pr-10" placeholder="Masukkan password anda" required />
				
				<div class="flex items-center mt-2">
					<input type="checkbox" id="showPassword" [(ngModel)]="showPassword" (change)="togglePasswordVisibility()" class="mr-2" />
					<label for="showPassword" class="text-sm text-gray-600">Tampilkan password</label>
				</div>
			</div>

			<div class="mb-4">
				<button type="submit" class="w-full py-3 px-4 bg-blue-600 text-white font-bold rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 hover:bg-blue-700">Login</button>
			</div>

			<div class="text-center">
				Belum punya akun? klik <a href="javascript:void(0)" (click)="goToRegistrasi()" class="text-blue-600 hover:text-blue-700 text-sm">Registrasi</a>
			</div>
		</form>
	</div>
</div>